In [1]:
%load_ext autoreload
%autoreload 2
%matplotlib inline

In [3]:
from fastai.imports import *
from fastai.structured import *

from pandas_summary import DataFrameSummary
from sklearn.ensemble import RandomForestRegressor, RandomForestClassifier
from IPython.display import display

from sklearn import metrics

In [4]:
PATH = 'data/'
!ls {PATH}

application_test.csv	     HomeCredit_columns_description.csv
application_test.csv.zip     installments_payments.csv
application_train.csv	     installments_payments.csv.zip
application_train.csv.zip    POS_CASH_balance.csv
bureau_balance.csv	     POS_CASH_balance.csv.zip
bureau_balance.csv.zip	     previous_application.csv
bureau.csv		     previous_application.csv.zip
bureau.csv.zip		     sample_submission.csv
credit_card_balance.csv      sample_submission.csv.zip
credit_card_balance.csv.zip

In [20]:
def display_allRows(df):
    with pd.option_context('display.max_rows', 1000):
        with pd.option_context('display.max_columns', 10):
            display(df)

In [6]:
df_app = pd.read_csv(f'{PATH}application_train.csv', low_memory=False)

In [16]:
display_allRows(df_app.transpose())

,0,1,2,3,4,...,307506,307507,307508,307509,307510
SK_ID_CURR,100002,100003,100004,100006,100007,...,456251,456252,456253,456254,456255
TARGET,1,0,0,0,0,...,0,0,0,1,0
NAME_CONTRACT_TYPE,Cash loans,Cash loans,Revolving loans,Cash loans,Cash loans,...,Cash loans,Cash loans,Cash loans,Cash loans,Cash loans
CODE_GENDER,M,F,M,F,M,...,M,F,F,F,F
FLAG_OWN_CAR,N,N,Y,N,N,...,N,N,N,N,N
FLAG_OWN_REALTY,Y,N,Y,Y,Y,...,N,Y,Y,Y,N
CNT_CHILDREN,0,0,0,0,0,...,0,0,0,0,0
AMT_INCOME_TOTAL,202500,270000,67500,135000,121500,...,157500,72000,153000,171000,157500
AMT_CREDIT,406598,1.2935e+06,135000,312682,513000,...,254700,269550,677664,370107,675000
AMT_ANNUITY,24700.5,35698.5,6750,29686.5,21865.5,...,27558,12001.5,29979,20205,49117.5
AMT_GOODS_PRICE,351000,1.1295e+06,135000,297000,513000,...,225000,225000,585000,319500,675000
NAME_TYPE_SUITE,Unaccompanied,Family,Unaccompanied,Unaccompanied,Unaccompanied,...,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied,Unaccompanied
NAME_INCOME_TYPE,Working,State servant,Working,Working,Working,...,Working,Pensioner,Working,Commercial associate,Commercial associate
NAME_EDUCATION_TYPE,Secondary / secondary special,Higher education,Secondary / secondary special,Secondary / secondary special,Secondary / secondary special,...,Secondary / secondary special,Secondary / secondary special,Higher education,Secondary / secondary special,Higher education
NAME_FAMILY_STATUS,Single / not married,Married,Single / not married,Civil marriage,Single / not married,...,Separated,Widow,Separated,Married,Married
NAME_HOUSING_TYPE,House / apartment,House / apartment,House / apartment,House / apartment,House / apartment,...,With parents,House / apartment,House / apartment,House / apartment,House / apartment
REGION_POPULATION_RELATIVE,0.018801,0.003541,0.010032,0.008019,0.028663,...,0.032561,0.025164,0.005002,0.005313,0.04622
DAYS_BIRTH,-9461,-16765,-19046,-19005,-19932,...,-9327,-20775,-14966,-11961,-16856
DAYS_EMPLOYED,-637,-1188,-225,-3039,-3038,...,-236,365243,-7921,-4786,-1262
DAYS_REGISTRATION,-3648,-1186,-4260,-9833,-4311,...,-8456,-4388,-6737,-2562,-5128
DAYS_ID_PUBLISH,-2120,-291,-2531,-2437,-3458,...,-1982,-4090,-5150,-931,-410
OWN_CAR_AGE,NaN,NaN,26,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
FLAG_MOBIL,1,1,1,1,1,...,1,1,1,1,1
FLAG_EMP_PHONE,1,1,1,1,1,...,1,0,1,1,1
FLAG_WORK_PHONE,0,0,1,0,0,...,0,0,0,0,1
FLAG_CONT_MOBILE,1,1,1,1,1,...,1,1,1,1,1
FLAG_PHONE,1,1,1,0,0,...,0,1,0,0,1
FLAG_EMAIL,0,0,0,0,0,...,0,0,1,0,0
OCCUPATION_TYPE,Laborers,Core staff,Laborers,Laborers,Core staff,...,Sales staff,NaN,Managers,Laborers,Laborers
CNT_FAM_MEMBERS,1,2,1,2,1,...,1,1,1,2,2
REGION_RATING_CLIENT,2,1,2,2,2,...,1,2,3,2,1
REGION_RATING_CLIENT_W_CITY,2,1,2,2,2,...,1,2,3,2,1
WEEKDAY_APPR_PROCESS_START,WEDNESDAY,MONDAY,MONDAY,WEDNESDAY,THURSDAY,...,THURSDAY,MONDAY,THURSDAY,WEDNESDAY,THURSDAY
HOUR_APPR_PROCESS_START,10,11,9,17,11,...,15,8,9,9,20
REG_REGION_NOT_LIVE_REGION,0,0,0,0,0,...,0,0,0,0,0
REG_REGION_NOT_WORK_REGION,0,0,0,0,0,...,0,0,0,0,0
LIVE_REGION_NOT_WORK_REGION,0,0,0,0,0,...,0,0,0,0,0
REG_CITY_NOT_LIVE_CITY,0,0,0,0,0,...,0,0,0,1,0
REG_CITY_NOT_WORK_CITY,0,0,0,0,1,...,0,0,1,1,1
LIVE_CITY_NOT_WORK_CITY,0,0,0,0,1,...,0,0,1,0,1
ORGANIZATION_TYPE,Business Entity Type 3,School,Government,Business Entity Type 3,Religion,...,Services,XNA,School,Business Entity Type 1,Business Entity Type 3
EXT_SOURCE_1,0.083037,0.311267,NaN,NaN,NaN,...,0.14557,NaN,0.744026,NaN,0.73446
EXT_SOURCE_2,0.262949,0.622246,0.555912,0.650442,0.322738,...,0.681632,0.115992,0.535722,0.514163,0.708569
EXT_SOURCE_3,0.139376,NaN,0.729567,NaN,NaN,...,NaN,NaN,0.218859,0.661024,0.113922
APARTMENTS_AVG,0.0247,0.0959,NaN,NaN,NaN,...,0.2021,0.0247,0.1031,0.0124,0.0742
BASEMENTAREA_AVG,0.0369,0.0529,NaN,NaN,NaN,...,0.0887,0.0435,0.0862,NaN,0.0526
YEARS_BEGINEXPLUATATION_AVG,0.9722,0.9851,NaN,NaN,NaN,...,0.9876,0.9727,0.9816,0.9771,0.9881
YEARS_BUILD_AVG,0.6192,0.796,NaN,NaN,NaN,...,0.83,0.626,0.7484,NaN,NaN
COMMONAREA_AVG,0.0143,0.0605,NaN,NaN,NaN,...,0.0202,0.0022,0.0123,NaN,0.0176
ELEVATORS_AVG,0,0.08,NaN,NaN,NaN,...,0.22,0,0,NaN,0.08
ENTRANCES_AVG,0.069,0.0345,NaN,NaN,NaN,...,0.1034,0.1034,0.2069,0.069,0.069
FLOORSMAX_AVG,0.0833,0.2917,NaN,NaN,NaN,...,0.6042,0.0833,0.1667,0.0417,0.375
FLOORSMIN_AVG,0.125,0.3333,NaN,NaN,NaN,...,0.2708,0.125,0.2083,NaN,NaN
LANDAREA_AVG,0.0369,0.013,NaN,NaN,NaN,...,0.0594,0.0579,NaN,NaN,NaN
LIVINGAPARTMENTS_AVG,0.0202,0.0773,NaN,NaN,NaN,...,0.1484,0.0202,0.0841,NaN,NaN
LIVINGAREA_AVG,0.019,0.0549,NaN,NaN,NaN,...,0.1965,0.0257,0.9279,0.0061,0.0791
NONLIVINGAPARTMENTS_AVG,0,0.0039,NaN,NaN,NaN,...,0.0753,0,0,NaN,NaN
NONLIVINGAREA_AVG,0,0.0098,NaN,NaN,NaN,...,0.1095,0,0,NaN,0
APARTMENTS_MODE,0.0252,0.0924,NaN,NaN,NaN,...,0.1008,0.0252,0.105,0.0126,0.0756
BASEMENTAREA_MODE,0.0383,0.0538,NaN,NaN,NaN,...,0.0172,0.0451,0.0894,NaN,0.0546
YEARS_BEGINEXPLUATATION_MODE,0.9722,0.9851,NaN,NaN,NaN,...,0.9782,0.9727,0.9816,0.9772,0.9881
YEARS_BUILD_MODE,0.6341,0.804,NaN,NaN,NaN,...,0.7125,0.6406,0.7583,NaN,NaN
COMMONAREA_MODE,0.0144,0.0497,NaN,NaN,NaN,...,0.0172,0.0022,0.0124,NaN,0.0178
ELEVATORS_MODE,0,0.0806,NaN,NaN,NaN,...,0.0806,0,0,NaN,0.0806
ENTRANCES_MODE,0.069,0.0345,NaN,NaN,NaN,...,0.0345,0.1034,0.2069,0.069,0.069
FLOORSMAX_MODE,0.0833,0.2917,NaN,NaN,NaN,...,0.4583,0.0833,0.1667,0.0417,0.375
FLOORSMIN_MODE,0.125,0.3333,NaN,NaN,NaN,...,0.0417,0.125,0.2083,NaN,NaN
LANDAREA_MODE,0.0377,0.0128,NaN,NaN,NaN,...,0.0094,0.0592,NaN,NaN,NaN
LIVINGAPARTMENTS_MODE,0.022,0.079,NaN,NaN,NaN,...,0.0882,0.022,0.0918,NaN,NaN
LIVINGAREA_MODE,0.0198,0.0554,NaN,NaN,NaN,...,0.0853,0.0267,0.9667,0.0063,0.0824
NONLIVINGAPARTMENTS_MODE,0,0,NaN,NaN,NaN,...,0,0,0,NaN,NaN
NONLIVINGAREA_MODE,0,0,NaN,NaN,NaN,...,0.0125,0,0,NaN,0
APARTMENTS_MEDI,0.025,0.0968,NaN,NaN,NaN,...,0.204,0.025,0.1041,0.0125,0.0749
BASEMENTAREA_MEDI,0.0369,0.0529,NaN,NaN,NaN,...,0.0887,0.0435,0.0862,NaN,0.0526
YEARS_BEGINEXPLUATATION_MEDI,0.9722,0.9851,NaN,NaN,NaN,...,0.9876,0.9727,0.9816,0.9771,0.9881
YEARS_BUILD_MEDI,0.6243,0.7987,NaN,NaN,NaN,...,0.8323,0.631,0.7518,NaN,NaN
COMMONAREA_MEDI,0.0144,0.0608,NaN,NaN,NaN,...,0.0203,0.0022,0.0124,NaN,0.0177
ELEVATORS_MEDI,0,0.08,NaN,NaN,NaN,...,0.22,0,0,NaN,0.08
ENTRANCES_MEDI,0.069,0.0345,NaN,NaN,NaN,...,0.1034,0.1034,0.2069,0.069,0.069
FLOORSMAX_MEDI,0.0833,0.2917,NaN,NaN,NaN,...,0.6042,0.0833,0.1667,0.0417,0.375
FLOORSMIN_MEDI,0.125,0.3333,NaN,NaN,NaN,...,0.2708,0.125,0.2083,NaN,NaN
LANDAREA_MEDI,0.0375,0.0132,NaN,NaN,NaN,...,0.0605,0.0589,NaN,NaN,NaN
LIVINGAPARTMENTS_MEDI,0.0205,0.0787,NaN,NaN,NaN,...,0.1509,0.0205,0.0855,NaN,NaN
LIVINGAREA_MEDI,0.0193,0.0558,NaN,NaN,NaN,...,0.2001,0.0261,0.9445,0.0062,0.0805
NONLIVINGAPARTMENTS_MEDI,0,0.0039,NaN,NaN,NaN,...,0.0757,0,0,NaN,NaN
NONLIVINGAREA_MEDI,0,0.01,NaN,NaN,NaN,...,0.1118,0,0,NaN,0
FONDKAPREMONT_MODE,reg oper account,reg oper account,NaN,NaN,NaN,...,reg oper account,reg oper account,reg oper account,NaN,NaN
HOUSETYPE_MODE,block of flats,block of flats,NaN,NaN,NaN,...,block of flats,block of flats,block of flats,block of flats,block of flats
TOTALAREA_MODE,0.0149,0.0714,NaN,NaN,NaN,...,0.2898,0.0214,0.797,0.0086,0.0718
WALLSMATERIAL_MODE,"Stone, brick",Block,NaN,NaN,NaN,...,"Stone, brick","Stone, brick",Panel,"Stone, brick",Panel
EMERGENCYSTATE_MODE,No,No,NaN,NaN,NaN,...,No,No,No,No,No
OBS_30_CNT_SOCIAL_CIRCLE,2,1,0,2,0,...,0,0,6,0,0
DEF_30_CNT_SOCIAL_CIRCLE,2,0,0,0,0,...,0,0,0,0,0
OBS_60_CNT_SOCIAL_CIRCLE,2,1,0,2,0,...,0,0,6,0,0
DEF_60_CNT_SOCIAL_CIRCLE,2,0,0,0,0,...,0,0,0,0,0
DAYS_LAST_PHONE_CHANGE,-1134,-828,-815,-617,-1106,...,-273,0,-1909,-322,-787
FLAG_DOCUMENT_2,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_3,1,1,0,1,0,...,0,1,1,1,1
FLAG_DOCUMENT_4,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_5,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_6,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_7,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_8,0,0,0,0,1,...,1,0,0,0,0
FLAG_DOCUMENT_9,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_10,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_11,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_12,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_13,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_14,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_15,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_16,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_17,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_18,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_19,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_20,0,0,0,0,0,...,0,0,0,0,0
FLAG_DOCUMENT_21,0,0,0,0,0,...,0,0,0,0,0
AMT_REQ_CREDIT_BUREAU_HOUR,0,0,0,NaN,0,...,NaN,NaN,1,0,0
AMT_REQ_CREDIT_BUREAU_DAY,0,0,0,NaN,0,...,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_WEEK,0,0,0,NaN,0,...,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_MON,0,0,0,NaN,0,...,NaN,NaN,1,0,2
AMT_REQ_CREDIT_BUREAU_QRT,0,0,0,NaN,0,...,NaN,NaN,0,0,0
AMT_REQ_CREDIT_BUREAU_YEAR,1,0,0,NaN,0,...,NaN,NaN,1,0,1

In [18]:
df_bru = pd.read_csv(f'{PATH}bureau.csv')

In [21]:
display_allRows(df_bru.transpose())

,0,1,2,3,4,...,1716423,1716424,1716425,1716426,1716427
SK_ID_CURR,215354,215354,215354,215354,215354,...,259355,100044,100044,246829,246829
SK_ID_BUREAU,5714462,5714463,5714464,5714465,5714466,...,5057750,5057754,5057762,5057770,5057778
CREDIT_ACTIVE,Closed,Active,Active,Active,Active,...,Active,Closed,Closed,Closed,Closed
CREDIT_CURRENCY,currency 1,currency 1,currency 1,currency 1,currency 1,...,currency 1,currency 1,currency 1,currency 1,currency 1
DAYS_CREDIT,-497,-208,-203,-203,-629,...,-44,-2648,-1809,-1878,-463
CREDIT_DAY_OVERDUE,0,0,0,0,0,...,0,0,0,0,0
DAYS_CREDIT_ENDDATE,-153,1075,528,NaN,1197,...,-30,-2433,-1628,-1513,NaN
DAYS_ENDDATE_FACT,-153,NaN,NaN,NaN,NaN,...,NaN,-2493,-970,-1513,-387
AMT_CREDIT_MAX_OVERDUE,NaN,NaN,NaN,NaN,77674.5,...,0,5476.5,NaN,NaN,NaN
CNT_CREDIT_PROLONG,0,0,0,0,0,...,0,0,0,0,0
AMT_CREDIT_SUM,91323,225000,464324,90000,2.7e+06,...,11250,38130.8,15570,36000,22500
AMT_CREDIT_SUM_DEBT,0,171342,NaN,NaN,NaN,...,11250,0,NaN,0,0
AMT_CREDIT_SUM_LIMIT,NaN,NaN,NaN,NaN,NaN,...,0,0,NaN,0,NaN
AMT_CREDIT_SUM_OVERDUE,0,0,0,0,0,...,0,0,0,0,0
CREDIT_TYPE,Consumer credit,Credit card,Consumer credit,Credit card,Consumer credit,...,Microloan,Consumer credit,Consumer credit,Consumer credit,Microloan
DAYS_CREDIT_UPDATE,-131,-20,-16,-16,-21,...,-19,-2493,-967,-1508,-387
AMT_ANNUITY,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN

In [23]:
df_bruBl = pd.read_csv(f'{PATH}bureau_balance.csv')

In [24]:
display_allRows(df_bruBl.transpose())

,0,1,2,3,4,...,27299920,27299921,27299922,27299923,27299924
SK_ID_BUREAU,5715448,5715448,5715448,5715448,5715448,...,5041336,5041336,5041336,5041336,5041336
MONTHS_BALANCE,0,-1,-2,-3,-4,...,-47,-48,-49,-50,-51
STATUS,C,C,C,C,C,...,X,X,X,X,X

In [25]:
df_ccdBl = pd.read_csv(f'{PATH}credit_card_balance.csv')
display_allRows(df_ccdBl.transpose())

,0,1,2,3,4,...,3840307,3840308,3840309,3840310,3840311
SK_ID_PREV,2562384,2582071,1740877,1389973,1891521,...,1036507,1714892,1302323,1624872,2411345
SK_ID_CURR,378907,363914,371185,337855,126868,...,328243,347207,215757,430337,236760
MONTHS_BALANCE,-6,-1,-7,-4,-1,...,-9,-9,-9,-10,-10
AMT_BALANCE,56.97,63975.6,31815.2,236572,453919,...,0,0,275785,0,0
AMT_CREDIT_LIMIT_ACTUAL,135000,45000,450000,225000,450000,...,45000,45000,585000,450000,157500
AMT_DRAWINGS_ATM_CURRENT,0,2250,0,2250,0,...,NaN,0,270000,NaN,0
AMT_DRAWINGS_CURRENT,877.5,2250,0,2250,11547,...,0,0,270000,0,0
AMT_DRAWINGS_OTHER_CURRENT,0,0,0,0,0,...,NaN,0,0,NaN,0
AMT_DRAWINGS_POS_CURRENT,877.5,0,0,0,11547,...,NaN,0,0,NaN,0
AMT_INST_MIN_REGULARITY,1700.33,2250,2250,11795.8,22924.9,...,0,0,2250,0,0
AMT_PAYMENT_CURRENT,1800,2250,2250,11925,27000,...,NaN,1879.11,375750,NaN,0
AMT_PAYMENT_TOTAL_CURRENT,1800,2250,2250,11925,27000,...,0,0,356995,0,0
AMT_RECEIVABLE_PRINCIPAL,0,60175.1,26926.4,224949,443044,...,0,0,269356,0,0
AMT_RECIVABLE,0,64875.6,31460.1,233049,453919,...,0,0,273094,0,0
AMT_TOTAL_RECEIVABLE,0,64875.6,31460.1,233049,453919,...,0,0,273094,0,0
CNT_DRAWINGS_ATM_CURRENT,0,1,0,1,0,...,NaN,0,2,NaN,0
CNT_DRAWINGS_CURRENT,1,1,0,1,1,...,0,0,2,0,0
CNT_DRAWINGS_OTHER_CURRENT,0,0,0,0,0,...,NaN,0,0,NaN,0
CNT_DRAWINGS_POS_CURRENT,1,0,0,0,1,...,NaN,0,0,NaN,0
CNT_INSTALMENT_MATURE_CUM,35,69,30,10,101,...,0,23,18,0,21
NAME_CONTRACT_STATUS,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Completed
SK_DPD,0,0,0,0,0,...,0,0,0,0,0
SK_DPD_DEF,0,0,0,0,0,...,0,0,0,0,0

In [33]:
df_instpay = pd.read_csv(f'{PATH}installments_payments.csv')
display_allRows(df_instpay.transpose())

,0,1,2,3,4,...,13605396,13605397,13605398,13605399,13605400
SK_ID_PREV,1054186.00,1330831.000,2085231.0,2452527.00,2714724.000,...,2186857.0,1310347.0,1308766.000,1062206.0,2448869.00
SK_ID_CURR,161674.00,151639.000,193053.0,199697.00,167756.000,...,428057.0,414406.0,402199.000,409297.0,434321.00
NUM_INSTALMENT_VERSION,1.00,0.000,2.0,1.00,1.000,...,0.0,0.0,0.000,0.0,1.00
NUM_INSTALMENT_NUMBER,6.00,34.000,1.0,3.00,2.000,...,66.0,47.0,43.000,43.0,19.00
DAYS_INSTALMENT,-1180.00,-2156.000,-63.0,-2418.00,-1383.000,...,-1624.0,-1539.0,-7.000,-1986.0,-27.00
DAYS_ENTRY_PAYMENT,-1187.00,-2156.000,-63.0,-2426.00,-1366.000,...,NaN,NaN,NaN,NaN,NaN
AMT_INSTALMENT,6948.36,1716.525,25425.0,24350.13,2165.040,...,67.5,67.5,43737.435,67.5,11504.25
AMT_PAYMENT,6948.36,1716.525,25425.0,24350.13,2160.585,...,NaN,NaN,NaN,NaN,NaN

In [34]:
df_posCb = pd.read_csv(f'{PATH}POS_CASH_balance.csv')
display_allRows(df_posCb.transpose())

,0,1,2,3,4,...,10001353,10001354,10001355,10001356,10001357
SK_ID_PREV,1803195,1715348,1784872,1903291,2341044,...,2448283,1717234,1283126,1082516,1259607
SK_ID_CURR,182943,367990,397406,269225,334279,...,226558,141565,315695,450255,174278
MONTHS_BALANCE,-31,-33,-32,-35,-35,...,-20,-19,-21,-22,-52
CNT_INSTALMENT,48,36,12,48,36,...,6,12,10,12,16
CNT_INSTALMENT_FUTURE,45,35,9,42,35,...,0,0,0,0,0
NAME_CONTRACT_STATUS,Active,Active,Active,Active,Active,...,Active,Active,Active,Active,Completed
SK_DPD,0,0,0,0,0,...,843,602,609,614,0
SK_DPD_DEF,0,0,0,0,0,...,0,0,0,0,0

In [35]:
df_preApp = pd.read_csv(f'{PATH}previous_application.csv')
display_allRows(df_preApp.transpose())

,0,1,2,3,4,...,1670209,1670210,1670211,1670212,1670213
SK_ID_PREV,2030495,2802425,2523466,2819243,1784265,...,2300464,2357031,2659632,2785582,2418762
SK_ID_CURR,271877,108129,122040,176158,202054,...,352015,334635,249544,400317,261212
NAME_CONTRACT_TYPE,Consumer loans,Cash loans,Cash loans,Cash loans,Cash loans,...,Consumer loans,Consumer loans,Consumer loans,Cash loans,Cash loans
AMT_ANNUITY,1730.43,25188.6,15060.7,47041.3,31924.4,...,14704.3,6622.02,11520.9,18821.5,16431.3
AMT_APPLICATION,17145,607500,112500,450000,337500,...,267296,87750,105237,180000,360000
AMT_CREDIT,17145,679671,136444,470790,404055,...,311400,64291.5,102524,191880,360000
AMT_DOWN_PAYMENT,0,NaN,NaN,NaN,NaN,...,0,29250,10525.5,NaN,NaN
AMT_GOODS_PRICE,17145,607500,112500,450000,337500,...,267296,87750,105237,180000,360000
WEEKDAY_APPR_PROCESS_START,SATURDAY,THURSDAY,TUESDAY,MONDAY,THURSDAY,...,WEDNESDAY,TUESDAY,MONDAY,WEDNESDAY,SUNDAY
HOUR_APPR_PROCESS_START,15,11,11,7,9,...,12,15,12,9,10
FLAG_LAST_APPL_PER_CONTRACT,Y,Y,Y,Y,Y,...,Y,Y,Y,Y,Y
NFLAG_LAST_APPL_IN_DAY,1,1,1,1,1,...,1,1,1,1,1
RATE_DOWN_PAYMENT,0,NaN,NaN,NaN,NaN,...,0,0.340554,0.101401,NaN,NaN
RATE_INTEREST_PRIMARY,0.182832,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
RATE_INTEREST_PRIVILEGED,0.867336,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN
NAME_CASH_LOAN_PURPOSE,XAP,XNA,XNA,XNA,Repairs,...,XAP,XAP,XAP,XNA,XNA
NAME_CONTRACT_STATUS,Approved,Approved,Approved,Approved,Refused,...,Approved,Approved,Approved,Approved,Approved
DAYS_DECISION,-73,-164,-301,-512,-781,...,-544,-1694,-1488,-1185,-1193
NAME_PAYMENT_TYPE,Cash through the bank,XNA,Cash through the bank,Cash through the bank,Cash through the bank,...,Cash through the bank,Cash through the bank,Cash through the bank,Cash through the bank,Cash through the bank
CODE_REJECT_REASON,XAP,XAP,XAP,XAP,HC,...,XAP,XAP,XAP,XAP,XAP
NAME_TYPE_SUITE,NaN,Unaccompanied,"Spouse, partner",NaN,NaN,...,NaN,Unaccompanied,"Spouse, partner",Family,Family
NAME_CLIENT_TYPE,Repeater,Repeater,Repeater,Repeater,Repeater,...,Refreshed,New,Repeater,Repeater,Repeater
NAME_GOODS_CATEGORY,Mobile,XNA,XNA,XNA,XNA,...,Furniture,Furniture,Consumer Electronics,XNA,XNA
NAME_PORTFOLIO,POS,Cash,Cash,Cash,Cash,...,POS,POS,POS,Cash,Cash
NAME_PRODUCT_TYPE,XNA,x-sell,x-sell,x-sell,walk-in,...,XNA,XNA,XNA,x-sell,x-sell
CHANNEL_TYPE,Country-wide,Contact center,Credit and cash offices,Credit and cash offices,Credit and cash offices,...,Stone,Stone,Country-wide,AP+ (Cash loan),AP+ (Cash loan)
SELLERPLACE_AREA,35,-1,-1,-1,-1,...,43,43,1370,-1,-1
NAME_SELLER_INDUSTRY,Connectivity,XNA,XNA,XNA,XNA,...,Furniture,Furniture,Consumer electronics,XNA,XNA
CNT_PAYMENT,12,36,12,12,24,...,30,12,10,12,48
NAME_YIELD_GROUP,middle,low_action,high,middle,high,...,low_normal,middle,low_normal,low_normal,middle
PRODUCT_COMBINATION,POS mobile with interest,Cash X-Sell: low,Cash X-Sell: high,Cash X-Sell: middle,Cash Street: high,...,POS industry with interest,POS industry with interest,POS household with interest,Cash X-Sell: low,Cash X-Sell: middle
DAYS_FIRST_DRAWING,365243,365243,365243,365243,NaN,...,365243,365243,365243,365243,365243
DAYS_FIRST_DUE,-42,-134,-271,-482,NaN,...,-508,-1604,-1457,-1155,-1163
DAYS_LAST_DUE_1ST_VERSION,300,916,59,-152,NaN,...,362,-1274,-1187,-825,247
DAYS_LAST_DUE,-42,365243,365243,-182,NaN,...,-358,-1304,-1187,-825,-443
DAYS_TERMINATION,-37,365243,365243,-177,NaN,...,-351,-1297,-1181,-817,-423
NFLAG_INSURED_ON_APPROVAL,0,1,1,1,NaN,...,0,0,0,1,0